@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Fredoka:wght@300&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@300&family=Source+Code+Pro:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
}

.intro {
    line-height: 1.5;
    letter-spacing: 1px;
}

#dev {
    color: coral;
}

.progress {
    display: flex;
    flex-direction: column;
}

.progress-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5px;
}

.first-progress {
    width: 25%;
    height: 10px;
    background-color: coral;
    margin-top: 5px;
    margin-left: 6px
}

.second-progress {
    width: 20%;
    height: 10px;
    background-color: blue;
    margin-top: 5px;
    margin-left: 6px
}

.third-progress {
    width: 15%;
    height: 10px;
    background-color: yellow;
    margin-top: 5px;
    margin-left: 6px
}

div h1,
h2 {
    font-family: 'Baloo bhai', cursive;
}

div p {
    font-family: "FontAwesome";
}

.about_info {
    height: 170px;
    display: flex;
    flex-direction: row;
}

.left_info {
    height: 200px;
    width: 30vw;
}

.right_info {
    height: 200px;
    width: 30vw;
    margin-left: 3rem;
}

div b {
    font-family: var(--font1);
}

div span {
    font-family: var(--font2);
}

.left_info p {
    margin: 1rem 1rem;
}

.right_info p {
    margin: 1rem 1rem;
}

.info_btn {
    display: flex;
    flex-direction: row;
}

.info_btn button {
    width: 150px;
    border-radius: 2rem;
    font-family: var(--font1);
}

.info_btn button:first-child {
    margin-left: 2rem;
}

.info_btn button:last-child {
    margin-left: 2rem;
}
