div img {
    width: 100%;
    height: 450px;
    background: cover;
    border-radius: 1rem;
}

div h1,
h2,
h3 {
    font-family: var(--font1);
}

div p {
    font-family: var(--font2);
}

.uiux {
    background-color: rgb(248, 247, 246);
    display: flex;
    flex-direction: column;
}

.uiux-head {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    width: 80%;
    margin: auto;
    margin-top: 1rem;
}

.uiux-para {
    justify-content: center;
    font-size: 1.3rem;
    line-height: 2.3rem;
    letter-spacing: 1;
}

.uiux_2 {
    background-color: rgb(248, 247, 246);
}

.uiux_2 p {
    margin: 24px 8px;
    font-size: 1.3rem;
}

.uiux_2 ul li {
    margin: 24px 24px;
    font-size: 1.3rem;
    font-family: var(--font2);
}

.uiux_3 {
    background-color: rgb(248, 247, 246);
}

.uiux_3 p {
    margin: 24px 8px;
    font-size: 1.3rem;
    line-height: 2.3rem;
    letter-spacing: 1;
}